# Defaults for all clusters. Values here are suitable for prod because it's
# safer to do that than to forget to update the prod config with bigger
# instances, number of masters/nodes, etc.
kube_context: "{{ .cluster_name }}"

# Lists IDs of trusted GPG keys. Clusters with `require_signed_tags=true` will
# reject any git tags that haven't been signed by one of the keys listed here.
#trusted_gpg_keys:
#- 123412341234       # todo - support this (currently not implemented)
